<!DOCTYPE html>
<html>
{% if full %}
<title>{{full.topicname}}</title>
<style>
    p {
        font-size: smaller;
        color: gray;
    }
</style>

<h1>{{full.topicname}}</h1><br>
<p>Written by {{full.user.username}} </p> <br>
<p>{{full.text}}</p><br>

<h3>Comments</h3>

{% for some in full.comments_set.all %}
<p>{{some.user.username}} said</p><br>
<p>{{some}}</p>
{% endfor %}
<p>{{full.Comments.comtext}}</p>
{% endif %} {% if error_message %}

<p><strong>{{ error_message }}</strong></p>{% endif %}


<a href="{% url 'comments' full.id %}"> Add comments </a>











<body></body>

</html>